.flow > * + * {
  margin-top: 1rem;
}

.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.horizontally-spread {
  display: flex;
  & > * {
    width: 100%;
  }
  & > * + * {
    margin-left: 1rem;
  }
}
